.dock {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/minimalistGridDesk.jpg");
  border-image-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__hero {
    background-color: rgba(225, 225, 225, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24vh;
  }

  &__heroTitle {
    font-family: "JoseSemiBold";
    font-size: 25px;
    margin-bottom: 20px;
  }

  &__welcome {
    margin-top: 35px;
    font-family: "JoseSemiBold";
    height: 40vh;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--txtWrapper {
      background-color: rgba(225, 225, 225, 0.7);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-radius: 5px;
      line-height: 32px;
    }

    &--user {
      text-transform: capitalize;
    }
  }

  &__enterCta {
    background-color: rgba(225, 225, 225, 0);
  }

  &__birb {
    width: 150px;
    height: 150px;
    background-color: rgba(225, 225, 225, 0.7);
  }
}

@include medium {
  .dock {
    margin: 0;
    &__heroTitle {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }
}

@include large {
  .className {
    margin: 0;
  }
}
