@font-face {
  font-family: "JoseReg";
  src: url("../assets/Fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "JoseSemiBold";
  src: url("../assets/Fonts/JosefinSans-SemiBold.ttf");
}

@font-face {
  font-family: "JoseIta";
  src: url("../assets/Fonts/JosefinSans-Italic.ttf");
}

@font-face {
  font-family: "MontserLt";
  src: url("../assets/Fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "MonserLtIta";
  src: url("../assets/Fonts/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: "MonserSemiBoldIta";
  src: url("../assets/Fonts/Montserrat-SemiBoldItalic.ttf");
}
