.pomo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 15px;
  color: gainsboro;
  background-color: rgba(45, 76, 107, 0.85);

  &__header {
    font-family: "MonserSemiBoldIta";
    margin-bottom: 10px;
  }

  &__cta {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: linen;
  }

  &__countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 76, 107, 0.85);
    border-radius: 5px;
    padding: 10px 15px;
    color: gainsboro;
    font-family: "MonserSemiBoldIta";
  }
}
