html,
body {
  margin: 0;
  font-family: "MonserLtIta";
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
select,
button {
  font-family: "JoseReg";
  border: none;
}

input,
select {
  height: 35px;
  padding: 5px 8px;
}

::-webkit-input-placeholder {
  color: darkslategrey;
}

:-ms-input-placeholder {
  color: darkslategrey;
}

::-ms-input-placeholder {
  color: darkslategrey;
}

::placeholder {
  color: darkslategrey;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Imports */
/* Media Query: Tablet */
/* Media Query: Desktop */
@font-face {
  font-family: "JoseReg";
  src: url("../assets/Fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "JoseSemiBold";
  src: url("../assets/Fonts/JosefinSans-SemiBold.ttf");
}

@font-face {
  font-family: "JoseIta";
  src: url("../assets/Fonts/JosefinSans-Italic.ttf");
}

@font-face {
  font-family: "MontserLt";
  src: url("../assets/Fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "MonserLtIta";
  src: url("../assets/Fonts/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: "MonserSemiBoldIta";
  src: url("../assets/Fonts/Montserrat-SemiBoldItalic.ttf");
}

.dock {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/minimalistGridDesk.jpg");
  border-image-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dock__hero {
  background-color: rgba(225, 225, 225, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24vh;
}

.dock__heroTitle {
  font-family: "JoseSemiBold";
  font-size: 25px;
  margin-bottom: 20px;
}

.dock__welcome {
  margin-top: 35px;
  font-family: "JoseSemiBold";
  height: 40vh;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dock__welcome--txtWrapper {
  background-color: rgba(225, 225, 225, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 5px;
  line-height: 32px;
}

.dock__welcome--user {
  text-transform: capitalize;
}

.dock__enterCta {
  background-color: rgba(225, 225, 225, 0);
}

.dock__birb {
  width: 150px;
  height: 150px;
  background-color: rgba(225, 225, 225, 0.7);
}

@media only screen and (min-width: 768px) {
  .dock {
    margin: 0;
  }
  .dock__heroTitle {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .className {
    margin: 0;
  }
}

.notebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/minimalistGridDesk.jpg");
  border-image-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notebook__overlay {
  height: 95vh;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(225, 225, 225, 0.7);
}

.notebook__context {
  font-family: "JoseReg";
  margin: 15px;
}

.addTodo {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.addTodo__input {
  text-align: center;
  margin-bottom: 20px;
  width: 60%;
  max-width: 320px;
  border: 2px solid burlywood;
}

@media only screen and (min-width: 768px) {
  .addTodo {
    width: 42%;
  }
}

/* Wrapper for all todo cards */
.todoCards {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .todoCards {
    margin: 0;
    width: 70vw;
  }
}

@media only screen and (min-width: 1440px) {
  .todoCards {
    margin: 0;
  }
}

/* Below: For single todo cards */
.todoCard {
  margin: 15px;
  width: 100%;
  max-width: 480px;
  height: 60px;
  background-color: rgba(45, 76, 107, 0.85);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todoCard__innerWrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todoCard__txtForm {
  width: 80%;
}

.todoCard__status {
  border-radius: 5px 0 0 5px;
}

.todoCard__txtInput {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

@media only screen and (min-width: 768px) {
  .todoCard {
    width: 40vw;
  }
  .todoCard__innerWrapper {
    width: 90%;
  }
  .todoCard__txtForm {
    width: 70%;
  }
  .todoCard__txtInput {
    width: 100%;
  }
}

.kbabMenu {
  position: relative;
  display: inline-block;
}

.kbabMenu__btn {
  background: none;
  margin-left: 5px;
}

.kbabMenu__actions {
  position: absolute;
  right: 0;
}

.kbabMenu__action {
  background-color: linen;
  padding: 10px 15px;
}

.pomo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 10px 15px;
  color: gainsboro;
  background-color: rgba(45, 76, 107, 0.85);
}

.pomo__header {
  font-family: "MonserSemiBoldIta";
  margin-bottom: 10px;
}

.pomo__cta {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: linen;
}

.pomo__countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(45, 76, 107, 0.85);
  border-radius: 5px;
  padding: 10px 15px;
  color: gainsboro;
  font-family: "MonserSemiBoldIta";
}
/*# sourceMappingURL=main.css.map */