@charset 'utf-8';

html,
body {
  margin: 0;
  font-family: "MonserLtIta";
  height: 100vh;
  box-sizing: border-box;
}

input,
select,
button {
  font-family: "JoseReg";
  border: none;
}

input,
select {
  height: 35px;
  padding: 5px 8px;
}

::placeholder {
  color: darkslategrey;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Imports */

@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/dock";
@import "./partials/notebook";
@import "./partials/Todo/addTodo";
@import "./partials/Todo/todoCard";
@import "./partials/Todo/todoKbab";
@import "./partials/Pomo/pomo";
